<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/aboutus.css">
</head>
<body>
    <div class="about">
        
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Manali Clinic<img src="/static/Manali Clinic.png" alt=""></label>
            <ul>
              <li><a class="active" href="home">Home</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="appointment">Book Appointment</a></li>
              <li><a href="Patient-Login">Patient</a></li>
              <li><a href="about">About us</a></li>
            </ul>
          </nav>
        
        <div class="inner-section">

            <h1>About Us</h1>
            <p class="text">
              <h4>MANALI CLINIC organizes tele-consultations and perform routine checkups which help the people who are in need.
              Our clinic provides affordable and quality healthcare to rural and semi rural urban areas in India. It implements an innovative family and patient-centred healthcare model. </h4>
            </p>

            <br><br>
            <div class="skills">
                <button>Contact Us</button>
            </div>
        </div>
    </div>
</body>
</html>
